@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    /* background-color: red; */
    text-align: center;
   
}

a{
text-decoration: none;
color:var(--primary-color)
}

.bgimage{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100vh;
        object-fit:cover;
        z-index:-1;
}


:root{
 --primary-color :#15C36B;
}


span{
    color: var(--primary-color);
}
body{
    font-family: "outfit","san-serif";
    /* background:url(/assets/Option1.png); */
}

.main-div{
    text-align: center;
    padding:0;
    margin: 0vh 10vw 0vh 10vh;
}
.section-1{
    /* text-align: center; */
    padding-top:1rem;
    padding-bottom:1rem;
    background-color: rgb(255, 255, 255);
    margin:auto;
    
}


.section-1 h1{
    /* background-color: rgb(154, 33, 33); */
    margin:auto;

}

.main-div{
    margin:auto;
}

.fix-pad{
margin-top: 15vw; 
}
.tagline{
    font-size:2vw;
    color:white;
    padding:30px;
}
.methods{
border-radius: 25px;
background-color: rgb(248, 248, 248);
width:70vw;
margin:auto;
}


.btn{
padding: 0.5rem;
background-color:rgb(255, 255, 255);
border: none;
border-radius: 2rem;
padding:15px;
margin:10px;
font-size: large;


}

/* solve.html */
input{
    width:60vw;
    padding:1rem;
    margin: 10px 0px;
    border-radius:1rem;
    border:none;
}

.flexing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.solvebtn{
   width:10rem;
   padding:1rem;
   margin-top:1rem;
   border-radius: 1rem;
   border:none
}

.present-answer{
    background-color: white;
    width: 20vh;
    margin:auto;
    border-radius:0.8rem;
    margin-top:40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.solvebtn:hover{
    background-color:#7adaaa;
    width:10rem;
    padding:1.1rem;
    color:white;
    font-size: 15px;
}

.content {
    min-height: calc(100vh - 70px);
  }
footer {
    height: 50px;
  }

/* footer */
.footer-div footer{
    display:flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color:rgb(255, 255, 255);
    
}

li{
    list-style-type: none;
    display:inline;
    margin:1rem;
}


.footer-div{
    position:absolute;
    bottom:0;
    top:calc(95.4vh);
    width:100vw;
}

/* css for mobile responsive screen */
@media only screen and (max-width: 700px) {

    .footer-links{
        display:none;
    }
    .tagline{
        font-size: 6vw;
    }
    
  }

