<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href= {{url_for('static', filename='images/logoo.png')}}>
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  <title>LOMA | LOVE MATH TOOL</title>
</head>

<body>

  <div class="content">
    <img class="bgimage" src="{{ url_for('static', filename='images/background.png') }}" alt="background">
    <div class="section-1">
      <h1><a href="/"><span>LO</span></a>MA</h1>
    </div>

    <div class="main-div">
      <div class="fix-pad">
        <div>
          <p class="tagline" align="center">
            Select the type of Problem To solve
          </p>
        </div>
        <section class="section-methods">
          <div class="methods">
            <button class="btn"><a href="/combination">Combinations</a></button>
            <button class="btn"><a href="/permutation">Permutations</a></button>
            <button class="btn"><a href="/arithmeticsequence">Arithmetic Sequence</a></button>
            <button class="btn"><a href="/geometricsequence">Geometric Sequence</a></button>
            <button class="btn"><a href="/fibonacci">Fibonacci</a></button>
            <button class="btn"><a href="/simpleinterest">Simple Interest</a></button>
            <button class="btn"><a href="/compint">compoundinterest</a></button>
            <button class="btn"><a href="/contint">Continuous Interest</a></button>
            <!--<button class="btn">Summation</button>
            <button class="btn">Addition</button>
            <button class="btn">Subtraction</button>
            <button class="btn">Mutiplication</button>
          </div>-->
        </section>
      </div>
    </div>


    <div class="footer-div">
      <footer>
        <p>Made by Hassan with <span>Love<span>.</p>
        <ul class="footer-links">
          <li>
            <a href="https://github.com/hassancodes">Github</a>
          </li>
          <li>
            Socials
          </li>
          <li>
            <span><a href="https://www.upwork.com/freelancers/~018951e163de7f6b41?viewMode=1">HireMe</a><span>
          </li>
        </ul>

      </footer>

    </div>
  </div>


</body>

</html>